<%- include('../partials/head') %>

<div class="container">
    <div class="row p-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Analizar epicrisis con Comprehend Medical AWS</h1>
                        <form action="" 2 action="" class="form-cm">
                            <div class="form-group">
                                <label for="cuentaCorriente">Cuenta corriente para analizar</label>
                                <input type="number" class="form-control" name="cuentaCorriente" id="cuentaCorriente" placeholder="e.j: 607068">
                            </div>
                            <button type="submit" class="btn btn-primary" id="busca-cm">Analizar</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/metodos') %>
<%- include('../partials/footer') %>