{{> head }}

    {{> navbar }}
      <div class="row">

          <div class="col-8">
              <h1>Cápitan América</h1>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus provident animi cum illum amet, praesentium fuga sit adipisci? Saepe, dolorem similique consectetur recusandae consequuntur incidunt inventore ut ea hic?
              </p>
          </div>

          <div class="col-4">
              <img src="assets/img/captain_america.png" class="img-thumbnail" alt="">
          </div>

      </div>
{{> footer }}